*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho y alto total */
}

body{
    font-family: 'Montserrat', sans-serif; 
}
.padre{
    height: 400vh;
    width: 100%;
    border: 2px solid red;

}


header{
    height: 2%;
    width: 100%;
    /* border: 2px solid blue;    */
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    background-color: black;
   
}


.header1{
    height: 70px;
    width: 50%;
    /* border: 2px solid red;  */
    padding-right: 50px;  
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#f1 {
    height: 65px;
    width: 190px;
    border: 2px rgb(0, 255, 255);
    margin-left: 200px;
}
.header2{
    height: 70px;
    width: 50%;
    /* border: 2px solid red;  */
    padding-right: 50px;  
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a{
    /* border: 2px solid blue;  */
    padding-right: 50px;  
    color: white;
    font-size: large;
    font-weight: 700;
    text-decoration: none;
}

.barra{
    /* border: 2px solid blue;  */
    padding-right: 50px;
    color:white
}

.h1{
    border: 2px solid orange;
    width: 100%;
    height: 13%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(158, 5, 158, 0.639) 1%, rgba(12, 12, 12, 0.977) 99%);

}

.h11{
    border: 5px solid rgb(0, 255, 98);
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.p1{
    color: white;
    font-size: 45px; 
    font-weight: 700;
    /* border: 2px solid yellow; */
    
 
}

.p2A{
    color:white;
    /* border: 2px solid yellow; */
    margin: 10px 0px 0px 0px;
    padding-left: 20px;
}

.p2AN{
    color:white;
    /* border: 2px solid yellow; */
    margin: 10px 0px 0px 0px;
    font-weight: 600;
    padding-left: 20px;
}

.p10{
    color:white;
    /* border: 2px solid yellow; */
    margin: 10px 0px 0px 0px;
    font-size: small;
    padding-left: 20px;

}

#f7{
    margin-top: 20px;
    padding-left: 20px;
}

#ppink{
    color:pink;
    font-size: x-large;
    font-weight: 600;
    padding-left: 20px;
}

#plila{
    color:rgb(241, 206, 249);
    font-size: x-large;
    font-weight: 600;
    padding-left: 20px;
}

#pyellow{
    color:rgb(255, 255, 152);
    font-size: x-large;
    font-weight: 600;
    padding-left: 20px;
}

#pblue{
    color:rgb(190, 216, 246);
    font-size: x-large;
    font-weight: 600;
    padding-left: 20px;
}


.line{
    border: 1px solid rgb(212, 211, 211);
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.botones{
    /* border: 2px solid  green; */
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 20px 0px 20px 10px;
}

.b1{
    background-color: rgba(170, 46, 170, 0.639);
    color:white;
    border-radius: 25px;
    border:2px;
    width: 120px;
    height: 50px;
    font-weight: 600;
    font-size: medium;
    margin: 0px 10px 0px 0px;
}

.b2{
    background-color: black;
    color:white;
    border-radius: 25px;
    border:1px solid white ;
    width: 200px;
    height: 50px;
    font-weight: 600;
    font-size: medium;
    margin: 0px 0px 0px 10px;
}


#p3p4{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.p3{
    color:white;
    font-size: 11px; 
    text-decoration: underline;  
}

.p4{
    color:white;
    font-size: 11px; 
}


.h12{
    border: 5px solid orange;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#f2{
    /* border: 2px solid red; */
    width: 46%;
    height: 54%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.h2{
    border: 2px solid yellow;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(12, 12, 12, 0.977);
}

.p7{
    color:white;
    font-size: x-large; 
    /* border: 2px solid yellow; */
    margin: 0px 0px 0px 0px;
}

.tabla{
    /* border: 2px solid red; */
    width: 25%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:80px 0px 20px 0px;
}

.t0{
    /* border: 2px solid blue; */
    width: 100%;
    height: 14%;
    color: white;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.t00{
    /* border: 2px solid orange; */
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.t00, .t11{
    /* border: 2px solid orange; */
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
.t01 {
    /* border: 2px solid yellow; */
    width: 30%;
    height: 100%;
}

.t12 {
    /* border: 2px solid yellow; */
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.p8{
    /* border: 2px solid yellow;
    width: 25%;
    height: 100%; */
    color: white;
    font-weight: 600;

}

.t1{
    border: 1px solid white;
    width: 100%;
    height: 14%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-left: none; 
    border-right: none;
}

.t11{
    /* border: 2px solid white; */
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.b4{
border:2px solid grey;
width: 25px;
}

.b5{
border:2px solid white;
width: 30px;
height: 30px;
background-color: white;
color:black;
border-radius: 25px;
}

.p9{
color:white;
text-decoration: underline; 
text-decoration-style: dashed; 
text-decoration-color: white; 
}




.h3{
    border: 2px solid green ;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(12, 12, 12, 0.977);

}

.h31{
    width: 100%;
    height: 50%;
    /* border: 2px solid  red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.h311{
    height: 100%;
    width: 50%;
    /* border: 2px solid rgb(0, 204, 255); */
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.p5{
    color:white;
    font-size: 40px; 
    font-weight: 600;
    /* border: 2px solid yellow; */
    margin: 80px 0px 0px 0px;
}

#f3{
    margin-top: 20px;
}

.h32{
    width: 100%;
    height: 50%;
    /* border: 2px solid  blue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.h321{
    width: 35%;
    height: 100%;
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.p6{
    color:white;
    font-size: 30px; 
    font-weight: 600;
    /* border: 2px solid yellow; */
}

.h322{
    width: 20%;
    height: 100%;
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}


.h4{
    border: 2px solid blue ;
    width: 100%;
    height: 27%;
    background-color: rgba(12, 12, 12, 0.977);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.f{
    border: 2px solid white ;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:20px 0px 20px 0px;
}

.card1{
    /* border: 1px solid yellow ; */
    width: 18%;
    height: 100%;
    background-color:rgba(103, 88, 88, 0.146);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    border-radius: 10px;
    margin:20px 15px 20px 15px;
    
}

.c1{
    /* border: 1px solid red ; */
    width: 50%;
    height: 5%;
    background-color: pink;
    border-radius: 3px 0px 3px 0px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 10px;
    font-weight: 600;   
}

.c11{
    /* border: 1px solid red ; */
    width: 50%;
    height: 5%;
    background-color: rgb(241, 206, 249);
    border-radius: 3px 0px 3px 0px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 10px;
    font-weight: 600;   
}


.c2{
    /* border: 1px solid yellow ; */
    width: 100%;
    height: 60%;
}


.c3{
    /* border: 1px solid yellow ; */
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.b6{
    background-color: pink;
    color:black;
    border-radius: 25px;
    border:1px solid white ;
    width: 200px;
    height: 50px;
    font-weight: 600;
    font-size: medium;
    margin: 0px 0px 10px 0px;
}

.b66{
    background-color:rgb(241, 206, 249);
    color:black;
    border-radius: 25px;
    border:1px solid white ;
    width: 200px;
    height: 50px;
    font-weight: 600;
    font-size: medium;
    margin: 0px 0px 10px 0px;
}

.b666{
    background-color:rgb(255, 255, 152);
    color:black;
    border-radius: 25px;
    border:1px solid white ;
    width: 200px;
    height: 50px;
    font-weight: 600;
    font-size: medium;
    margin: 0px 0px 10px 0px;
}


.b6666{
    background-color:rgb(190, 216, 246);
    color:black;
    border-radius: 25px;
    border:1px solid white ;
    width: 200px;
    height: 50px;
    font-weight: 600;
    font-size: medium;
    margin: 0px 0px 10px 0px;
}






.h5{
    border: 2px solid pink;
    width: 100%;
    height: 15%;
    background-color: rgba(12, 12, 12, 0.977);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}




footer{
    height: 3%;
    width: 100%;
    /* border: 2px solid blue;    */
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    background-color: black;
}

#f11{
    height: 32px;
    width: 95px; 
    margin-left: 200px;
}

#f6{
    height: 32px;
    width: 95px;
    /* border:2px solid yellow; */
}

