.padre{
    height:500px;
    width:100%;
    display:grid;
    grid-template-columns: [x0]1fr[x1]1fr[x2]1fr[x3]1fr[x4];
    grid-template-rows: [y0]1fr[y1]1fr[y2]1fr[y3]1fr[y4]1fr[y5]1fr[y6]1fr[y7]1fr[y8];
    background-color: purple;
}

/* los fr son las filas o columnas  */


.c1{
    grid-column:x0/x4;
    grid-row:y0/y1;
    background-color:rgb(8, 8, 8);
    color:white;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: x-large;
    border: 2px white

}

/* el c1 va de x1 a x4 */


.c2{
    grid-column:x0/x3;
    grid-row:y1/y7;
    background-color:rgb(22, 22, 158);
    color:white;
    display:grid;
    grid-template-columns: [x0]1fr[x1]1fr[x2]1fr[x3];
    grid-template-rows: [y0]1fr[y1]1fr[y2]1fr[y3]1fr[y4]1fr[y5]1fr[y6];
}



.c21{
    grid-column:x0/x3;
    grid-row:y0/y2;
    background-color:rgb(22, 22, 158);
    color:white;
    font-size: x-large;
    border: 2px solid white;
    margin: 15px 15px 10px 15px;
    padding: 7px 7px 7px 7px;
}

.c22{
    grid-column:x0/x3;
    grid-row:y2/y6;
    background-color:rgb(22, 22, 158);
    color:white;
    display:grid;
    grid-template-columns: [x0]1fr[x1]1fr[x2]1fr[x3];
    grid-template-rows: [y0]1fr[y1]1fr[y2]1fr[y3]1fr[y4];
    
    
}

.c221{
    grid-column:x0/x2;
    grid-row:y0/y4;
    background-color:rgb(22, 22, 158);
    color:white;
    border: 2px solid white;
    margin: 0px 3px 15px 15px;
    padding: 7px 7px 7px 7px;
}

.c222{
    grid-column:x2/x3;
    grid-row:y0/y4;
    background-color:rgb(22, 22, 158);
    color:white;
    border: 2px solid white;
    margin: 0px 15px 15px 3px;
    padding: 7px 7px 7px 7px;
} 


.c3{
    grid-column:x3/x4;
    grid-row:y1/y7;
    background-color:aquamarine;
    color:white;
    display:grid;
    grid-template-columns: [x0]1fr[x1];
    grid-template-rows: [y0]1fr[y1]1fr[y2]1fr[y3]1fr[y4];
}

.c31{
    grid-column:x0/x1;
    grid-row:y0/y1;
    background-color:aquamarine;
    color:white;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: x-large;
    border: 2px solid black;
    margin: 10px 10px 2px 10px;
}
.c32{
    grid-column:x0/x1;
    grid-row:y1/y2;
    background-color:black;
    color:white;
    display: grid;
    align-items: center;
    justify-items: center;
    border: 2px solid black;
    margin: 2px 10px 2px 10px;
}
.c33{
    grid-column:x0/x1;
    grid-row:y2/y3;
    background-color:black;
    color:white;
    display: grid;
    align-items: center;
    justify-items: center;
    border: 2px solid black;
    margin: 2px 10px 2px 10px;
}
.c34{
    grid-column:x0/x1;
    grid-row:y3/y4;
    background-color:black;
    color:white;
    display: grid;
    align-items: center;
    justify-items: center;
    border: 2px solid black;
    margin: 2px 10px 10px 10px;
}






.c4{
    grid-column:x0/x2;
    grid-row:y7/y8;
    background-color:purple;
    color:white;
    display: grid;
    align-items: center;
    justify-items: center;
    border: 2px solid black;
    margin: 5px 5px 5px 5px;
}

.c5{
    grid-column:x2/x4;
    grid-row:y7/y8;
    background-color:purple;
    color:white;
    display: grid;
    align-items: center;
    justify-items: center;
    border: 2px solid black;
    margin: 5px 5px 5px 5px;
} 